<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="../logs/nlog-internal.log">

	<extensions>
		<add assembly="NLog.MSMQ.Target.Core"/>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.Logging"/>
		<add assembly="NLog.AWS.Logger"/>
	</extensions>

	<variable name="logPathRoot"  value="${configsetting:name=appSettings.LogPathRoot}" />
	<variable name="logAWSName"  value="${environment:LOG_SNS_ARN}" />
	<variable name="awsEnvName" value="${environment:Environment}" />
	<variable name="awsRegion" value="${configsetting:name=appSettings.AwsRegion}" />
	<variable name="appName"		value="MI.DEGProcessor" />

	<targets>

		<target name="aws" type="AWSTarget" logGroup="/MIACA/${awsEnvName}/${appName}" region="${awsRegion}" LibraryLogFileName=""
		        layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10}"/>

		<target name="MSMQTarget"
					type="MSMQTarget"
					QueueName="${logAWSName}"
					Application="${appName}"
								
					layout='{"MachineName": "FARGATE A", 
					"ServiceAccount": "${environment-user:userName=True:domain=True}", 
					"UserIdentity": "${aspnet-user-identity}", 
					"RequestIp": "${aspnet-request-ip:CheckForwardedForHeader=true}",
					"ProcessName": "${processname:fullName=true}",
					"StackTrace": "${stacktrace:format=Raw:topFrames=5}",
					"AssemblyVersion": "${assembly-version}", 
					"Message": "${message}", 
					"CreatedOnLocal": "${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}"}' />
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" levels="Trace,Debug,Warn,Info,Error,Fatal" writeTo="aws" />
		<logger name="*" levels="Trace,Debug,Warn,Info,Error,Fatal" appendTo="MSMQTarget" />
	</rules>

</nlog>